.calc-button {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 100px;
    width: 100px; 
}

.underlined-header {
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    font-size: 25px;
    padding: 8px 0px 2px 0px;
    border-color: darkred;
    margin-bottom: 4px;
}

.bold-lbl {
    font-size: 14px;
    font-weight: bold;
}

.fixed-basket-box {
    position: fixed;
    right: 0;
    top: 30vh;
    box-shadow: -.3rem .2rem 1.5rem 0 rgba(45, 89, 102, 0.5);
    width: 20rem;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    transition: 0.5s;
    /*overflow: hidden;
    word-break: break-all;*/
}

#openBasketBtn {
    position: fixed;
    right: 0;
    top: 31vh;
}

#leContainer {
    padding-top: 1rem;
    padding-right: 8rem;
    transition: 0.5s;
}

.fixed-basket-box .row {
    padding: 15px;
}

.fixed-basket-box .btn {
    margin:auto;
    display:block;
    width:100%;
}

.fixed-basket-box-price {
    display: inline-block;
    /*float: right;*/
}

h3 {
    text-align: center;
}

* {
    box-sizing: border-box
} 

.btn.btn-danger.fixed-basket-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    /*height: inherit;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
.search::after {
    content: "";
    clear: both;
    display: table;
}

.hide {
    /*display: none;*/
}

